@import 
url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding 0;
  font-family: 'Patua One', cursive;
  color: #9E7C0C;
  background-color: #fff;
 }

p {
  line-height: 1.6em;
}
h1, h2, h3 {
  text-align: center;
  font-family: Patua One, serif;
}

h1 {
  font-size: 3em;
  letter-spacing: 3px;
}

h2 {
  font-size: 3em;
  letter-spacing: 3px;
  color: #002D62;
  position: relative;
  top: 150px;
  left: 150px;
}

h3 {
  letter-spacing: 2px;
  color: #002D62;
}

main {
  position: relative;
  top: 180px;
}

.figure {
  text-align: center;
  margin: 0;
}


figcaption {
  margin: auto;
  text-align: center;
  width: 100%;
  padding: 6px;
  color: #eee;
  background-color: #002D62;
  /* <figcaption> does not have a positioned ancestor, so it is positioning itself relative to the <html> element */
  position: absolute;
  margin-top: 80px;
  border radius: 3px;
  letter-spacing: 1px;
}

.image-section {
  max-width: 100%;
  margin: 0;
  height: 650px;
  color: #fff000;
  background-color: #e4e4e4;
  background-image: url(https://static.clubs.nfl.com/image/private/t_editorial_landscape_12_desktop_2x/f_auto/ravens/xeyqmgwkylamlxk4yf9d.jpg);
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

  
.hero-section {
  margin-top: 545px;
  margin-left: 0px;
  width: auto;
}

a {
  color: #EB6E1F;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  float: right;
  margin: 0;
  width: 80%;
  line-height: 2em;
  display: inline-block;
}

li {
  width: auto;
  margin: 0;
  vertical-align: middle;
  position: relative;
  top: 10px;
  left: 80px;
}

hr {
  border: none;
  border-bottom: 1px solid #ddd;
  margin: 64px 0;
}

footer {
  text-align: center;
  position: relative;
  margin-top: 250px;
}

@media (max-width: 1200px) {
  #main {
    grid-template-columns: 1fr;
  }
  figcaption {
    border-radius: 3px;
    position: unset; /* sets it back to the initial value, static */ 
  }
  
  .container {
    overflow-y: visible;
}


@media (max-width:400px){
  body {
    font-size: 14px;
  }
  .container{
    padding: 300px;
  }
}
